@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap'); 

body{
    background-color: rgb(61, 0, 0);
    color: white;
    font-family: "helvetica";
    font-weight: 200;
    
}

h1{
    font-family: "Luxurious Script";
    font-weight: 400;
    font-size: 120px;
    padding: 10px;
    margin-bottom: 0px;
}
h2 {
    font-family:"Helvetica",serif;
    font-weight: 500; 
    margin-top: 0px;
}
p{
    font-family: "Helvetica";
    font-weight: 700;
    background-color: rgb(70, 0, 0);
    color:white;
    padding: 10px;
    border-radius: 16px;
    text-align: center;
    margin-bottom: 100px;
    max-width: 700px;
    font-size: larger;
}
nav {
    font-family: "Helvetica",serif;
    background: rgb(61, 0, 0);
    margin-left: 250px;
  }
  li {
    display: inline-block;
    padding: 10px; 
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 1px;
    margin-right: 150px;
    border-radius: 16px;
    background-color:rgb(70, 0, 0);

  }
  a {
    color: white;
    text-decoration: none;
    &:hover {
      border-bottom: 10px solid black;
    }
  }
  .redtext{
    color: red;
  }
  .makecenterd{
    text-align: center;
  }
  .movetobottom{
    margin-top: 250px;
    margin-left: 900px;
  }
  .perfectpadding{
    padding:2px
  }
  #aligning_pic_myblerb{
 display: flex; justify-content: center;
  }
  #spacemypic{
display: flex;justify-content: flex-end;
  }
  #center_paragraph{
    display: flex;justify-content: center;
  }
  #make_circle img{
    width: 400px;
    height: 400px;
    border-width: 2px;
    border-color: white;
    border-radius: 50%;
  }