@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap'); 

body{
    background-color: rgb(61, 0, 0);
    color: white;
    font-family: "helvetica";
    font-weight: 200;
    
}

h1{
    font-family: "Luxurious Script";
    font-weight: 400;
    font-size: 150px;
    padding: 10px;
    margin-bottom: 0px;
}
h2 {
    font-family:"Helvetica",serif;
    font-weight: 500; 
    margin-top: 0px;
    text-align: center;
}
p{
    font-family: "Helvetica";
    font-weight: 700;
    background-color: rgb(70, 0, 0);
    color:white;
    padding: 10px;
    border-radius: 16px;
    margin-bottom: 100px;
    max-width: 700px;
    font-size: larger;
    
    max-width: 800px;
    text-align: center;
}
nav {
    font-family: "Helvetica",serif;
    background: rgb(61, 0, 0);
    margin-left: 250px;
  }
  li {
    display: inline-block;
    padding: 10px; 
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 1px;
    margin-right: 150px;
    border-radius: 16px;
    background-color:rgb(70, 0, 0);

  }
  a {
    color: white;
    text-decoration: none;
    &:hover {
      color:red;
    }
  }
  .redtext{
    color: red;
  }
  .makecenterd{
    text-align: center;
  }
 .makecenterd > p{
  margin: 75px;
  margin-left: 400px;
  max-width: 700px;
 }
 .makecenterd > h2{
  margin-top:100px;
 }
  .img_with_blerb{
    display: flex;
    justify-content: flex-end;
  }
  .img_with_blerb img{
    max-width: 250px;
    max-height: 500px;
    border-radius: 50%;
    
  }
  .img_with_blerb p{
    font-size: medium;
    position: relative;
    top: 40px;
  }
  .blerb_to_bottum{
    margin-top: 250px;
  }
  #form_position{
    margin-left:0px ;
  }
  a:active{
    color:salmon
  }
  #img_sizing{
    width: 400px;
    height: 4000px;
  }
.project_layout{
  display:flex;
  justify-content: space-between;
}
.project_layout:nth-child(even){
   flex-direction: row-reverse;

}
  .pictures{
    height: 200px;
  }
 